body {
  background-color: rgb(255, 255, 255);
  font: 300 1em/1.38 'Open Sans Condensed';
  color: rgb(0, 0, 0);
}

.link {
  float: left;
  width: 15.6666666666%;
  height: 59px;
  margin: 36px 0 0 68.5833333333%;
}

.link .about {
  display: block;
  float: left;
  width: 45.2127659574%;
  height: 59px;
  margin-left: 1.0638297872%;
  border-radius: 3px;
  background-color: rgb(238, 237, 237);
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
  resize: none;
}

.logo {
  display: block;
  float: left;
  width: 15.75%;
  height: 95px;
  border-radius: 3px;
  background: url('../images/logo_2.png') rgb(238, 237, 237);
  background-size: cover;
  background-position: center center;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
  resize: none;
}

.team {
  display: block;
  float: left;
  width: 53.7234042553%;
  height: 59px;
  border-radius: 3px;
  background-color: rgb(238, 237, 237);
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
  resize: none;
}

.title {
  float: left;
  width: 100%;
  height: 95px;
  background-color: rgb(238, 237, 237);
}