body {
  background-color: rgb(246, 246, 246);
  font: 300 1em/1.38 'Open Sans Condensed';
  color: rgb(0, 0, 0);
}

.about {
  display: block;
  float: left;
  width: 31.0236669518%;
  height: 59px;
  margin-left: 0.7252999999%;
  border-radius: 3px;
  background-color: rgb(238, 237, 237);
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
  resize: none;
}

.link_left {
  float: left;
  width: 22.7994791666%;
  height: 59px;
  margin: 36px 0 0 64.58073%;
}

.link_left .content {
  display: block;
  float: left;
  width: 31.0236669518%;
  height: 59px;
  margin-left: -0.21131%;
  border-radius: 3px;
  background-color: rgb(238, 237, 237);
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
  resize: none;
}

.link_left .content:active,
.link_left .content:focus,
.link_left .content:hover {
  bottom: auto;
  right: auto;
  margin-right: 0;
}

.logo {
  display: block;
  float: left;
  width: 12.5833333333%;
  height: 83px;
  margin-top: 12px;
  border-radius: 3px;
  background: url('../images/logo_2.png') rgb(238, 237, 237);
  background-size: cover;
  background-position: center center;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
  resize: none;
}

.team {
  display: block;
  float: left;
  width: 36.863416025%;
  height: 59px;
  margin-left: 0.21131%;
  border-radius: 3px;
  background-color: rgb(238, 237, 237);
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
  resize: none;
}

.title {
  float: left;
  width: 100%;
  height: 95px;
  background-color: rgb(238, 237, 237);
}