body {
  background-color: rgb(246, 246, 246);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.about {
  display: block;
  float: left;
  width: 7.05859375%;
  height: 59px;
  margin: 36px 0 0 0.00521%;
  border-radius: 3px;
  background-color: rgb(238, 237, 237);
  font: 300 1em/1.38 'Open Sans Condensed';
  text-align: center;
  color: rgb(0, 0, 0);
  resize: none;
}

.container {
  float: left;
  clear: both;
  width: 100%;
  height: 234px;
}

.content {
  display: block;
  float: left;
  width: 7.05859375%;
  height: 59px;
  margin: 36px 0 0 64.5%;
  border-radius: 3px;
  background-color: rgb(238, 237, 237);
  font: 300 1em/1.38 'Open Sans Condensed';
  text-align: center;
  color: rgb(0, 0, 0);
  resize: none;
}

.element {
  float: left;
  height: 234px;
  background-color: rgba(222, 222, 222, 0);
}

.info {
  position: relative;
  float: left;
  clear: both;
  width: 34.8333333333%;
  min-height: 121px;
  margin: -218px 0 0 20.25%;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.insta {
  display: block;
  position: relative;
  float: left;
  width: 3.1666666666%;
  height: 34px;
  margin: -34px 0 0 96.83333%;
  border-radius: 3px;
  background: url('../images/instagram.jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: 31px 31px;
  background-position: center center;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.logo {
  display: block;
  float: left;
  width: 12.5833333333%;
  height: 83px;
  margin-top: 12px;
  border-radius: 3px;
  background: url('../images/logo_2.png') rgb(238, 237, 237);
  background-size: cover;
  background-position: center center;
  font: 400 1em/1.38 'Open Sans Condensed';
  text-align: center;
  color: rgb(0, 0, 0);
  resize: none;
}

.team {
  display: block;
  float: left;
  width: 8.38671875%;
  height: 59px;
  margin: 36px 0 0 0.00391%;
  border-radius: 3px;
  background-color: rgb(238, 237, 237);
  font: 300 1em/1.38 'Open Sans Condensed';
  text-align: center;
  color: rgb(0, 0, 0);
  resize: none;
}

.title {
  float: left;
  width: 100%;
  height: 95px;
  background-color: rgb(238, 237, 237);
}

.vk {
  display: block;
  position: relative;
  float: left;
  width: 3.1666666666%;
  height: 34px;
  margin: -34px 0 0 93.66667%;
  border-radius: 3px;
  background: url('../images/vkcom.jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.container-10,
.container-11,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8,
.container-9 {
  margin-top: 30px;
}

.element-1 {
  width: 19.0833333333%;
  background-image: url('../images/slava.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-10 {
  position: relative;
  z-index: 30;
  width: 80.9166666666%;
}

.element-11 {
  width: 19.0833333333%;
  background-image: url('../images/archak.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-12 {
  position: relative;
  z-index: 36;
  width: 80.9166666666%;
}

.element-13 {
  width: 19.0833333333%;
  background-image: url('../images/roman.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-14 {
  position: relative;
  z-index: 42;
  width: 80.9166666666%;
}

.element-15 {
  width: 19.0833333333%;
  background-image: url('../images/oleg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-16 {
  position: relative;
  z-index: 48;
  width: 80.9166666666%;
}

.element-17 {
  width: 19.0833333333%;
  background-image: url('../images/rita.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-18 {
  position: relative;
  z-index: 54;
  width: 80.9166666666%;
}

.element-19 {
  width: 19.0833333333%;
  background-image: url('../images/nataxa.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-2 {
  position: relative;
  z-index: 6;
  width: 80.9166666666%;
}

.element-20 {
  position: relative;
  z-index: 60;
  width: 80.9166666666%;
}

.element-21 {
  width: 19.0833333333%;
  background-image: url('../images/kostya.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-22 {
  position: relative;
  z-index: 66;
  width: 80.9166666666%;
}

.element-3 {
  width: 19.0833333333%;
  background-image: url('../images/filipp.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-4 {
  position: relative;
  z-index: 12;
  width: 80.9166666666%;
}

.element-5 {
  width: 19.0833333333%;
  background-image: url('../images/sadig.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-6 {
  position: relative;
  z-index: 18;
  width: 80.9166666666%;
}

.element-7 {
  width: 19.0833333333%;
  background-image: url('../images/matveev.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-8 {
  position: relative;
  z-index: 24;
  width: 80.9166666666%;
}

.element-9 {
  width: 19.0833333333%;
  background-image: url('../images/cigan.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.info-1 {
  z-index: 7;
}

.info-10 {
  z-index: 61;
}

.info-11 {
  z-index: 67;
}

.info-2 {
  z-index: 13;
}

.info-3 {
  z-index: 19;
}

.info-4 {
  z-index: 25;
}

.info-5 {
  z-index: 31;
}

.info-6 {
  z-index: 37;
}

.info-7 {
  z-index: 43;
}

.info-8 {
  z-index: 49;
}

.info-9 {
  z-index: 55;
}

.insta-1 {
  z-index: 8;
}

.insta-10 {
  z-index: 62;
}

.insta-11 {
  z-index: 68;
}

.insta-2 {
  z-index: 14;
}

.insta-3 {
  z-index: 20;
}

.insta-4 {
  z-index: 26;
}

.insta-5 {
  z-index: 32;
}

.insta-6 {
  z-index: 38;
}

.insta-7 {
  z-index: 44;
}

.insta-8 {
  z-index: 50;
}

.insta-9 {
  z-index: 56;
}

.vk-1 {
  z-index: 9;
}

.vk-10 {
  z-index: 63;
}

.vk-11 {
  z-index: 69;
}

.vk-2 {
  z-index: 15;
}

.vk-3 {
  z-index: 21;
}

.vk-4 {
  z-index: 27;
}

.vk-5 {
  z-index: 33;
}

.vk-6 {
  z-index: 39;
}

.vk-7 {
  z-index: 45;
}

.vk-8 {
  z-index: 51;
}

.vk-9 {
  z-index: 57;
}